# data structure

$ m \times c^2 $

In [2]:
"hello world"

'hello world'

In [3]:
print( "hello world" )

hello world

In [4]:
print( 3*5 )

15

# Data Types

### Int

In [8]:
a=7

In [9]:
a

7

In [16]:
a = 7
a = 8
a = 1000000000000000
a.bit_length()

50

In [11]:
type(a)

int

In [4]:
1/5

0.2

In [12]:
type(1/5)

float

### Float

In [19]:
f = 0.6

In [20]:
type(f)

float

In [21]:
f.as_integer_ratio()

(5404319552844595, 9007199254740992)

In [22]:
5404319552844595/9007199254740992

0.6

In [23]:
3/5

0.6

### Boolean Variable

In [24]:
True

True

In [25]:
False

False

In [26]:
import keyword

In [27]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [29]:
C = True

In [30]:
type(C)

bool

In [31]:
int(C)

1

In [34]:
bool( 0.0 )

False

In [34]:
int(False)

0

In [37]:
bool( 5.8 )

True

In [38]:
float( 1 )

1.0

In [39]:
int( 1.0 )

1

### In class Practice:
Create two integers, inta=10, intb=35, create two variables intc and intd, intc = inta+intb, intd = inta/intb, then convert intd to integer and show the results.

In [35]:
inta = 10
intb = 35
intc = inta+ intb
intd = inta/intb
print( intc, int(intd) )

45 0

In [42]:
intc, int(intd)

(45, 0)

In [43]:
intd

0.2857142857142857

In [44]:
int(5.7)

5

### Cast Between Types

In [36]:
a, f, C

(1000000000000000, 0.6, True)

In [37]:
int(f)

0

In [38]:
int(C)

1

In [39]:
int(False)

0

In [40]:
a = 5

In [41]:
float(a)

5.0

In [42]:
float(C)

1.0

In [56]:
bool(a)

True

In [57]:
bool(f)

True

In [58]:
bool(0)

False

### String

In [48]:
t = 'this is Python'

In [49]:
t

'this is Python'

In [50]:
''' asdasda   '''

' asdasda   '

In [51]:
test = """
abcd
abcd
"""

In [52]:
test

'\nabcd\nabcd\n'

In [53]:
t

'this is Python'

In [56]:
len(t)

14

In [61]:
t[0]

't'

In [60]:
t[-2]

'o'

In [62]:
t[1:6]

'his i'

In [22]:
t[5:]

'is Python'

In [23]:
t

'this is Python'

In [65]:
t.split( ' ' )
#t.split( 'i' )

['this', 'is', 'Python']

In [66]:
t2 = 'this is  Python'
t2.split( ' ' )

['this', 'is', '', 'Python']

In [69]:
t

'this is Python'

In [67]:
t.replace( ' ', ',' )

'this,is,Python'

In [68]:
ts=t.replace( ' ', ',' )
ts

'this,is,Python'

In [70]:
ts

'this,is,Python'

In [71]:
t+ ts

'this is Pythonthis,is,Python'

In [72]:
t- ts

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [2]:
"This is an integer {:d}".format( int(13.5) )

'This is an integer 13'

In [7]:
"This is two integers: {:4d} and {:4d}".format( 15, 500000 )

'This is two integers:   15 and 500000'

In [8]:
"This is an integer and a float: {:4d} and {:15.2f}".format( 15, 500000 )

'This is an integer and a float:   15 and       500000.00'

In [84]:
#"This is a string: {:s}".format( '15' )

"This is a string: {:s}".format( str(15) )

'This is a string: 15'

In [10]:
"{:*>20.7f}".format( 10.000 )

'**********10.0000000'

In [9]:
str( 10.000 )

'10.0'

### In class Practice:

Create an String object "fintech is finance and tech". 
Use replace function to replace "f" by "F".

In [87]:
tests ="fintech is finance and tech"
tests.replace( "f", "F", 1 )

'Fintech is finance and tech'

### datetime

In [88]:
import datetime

In [90]:
date1 = datetime.date( 2016, 1, 20 )

In [91]:
date1

datetime.date(2016, 1, 20)

In [92]:
date2 = datetime.datetime( 2016, 1, 20, 13, 30, 00)

In [93]:
date2

datetime.datetime(2016, 1, 20, 13, 30)

In [94]:
date3 = datetime.datetime( 2016, 1, 21, 17, 30, 00)

In [95]:
date3

datetime.datetime(2016, 1, 21, 17, 30)

In [96]:
date3 - date2

datetime.timedelta(days=1, seconds=14400)

In [99]:
(date3 - date2).days

1

In [100]:
timediff = datetime.timedelta(days=1, seconds=1440)

In [101]:
date1

datetime.date(2016, 1, 20)

In [102]:
date1 + timediff

datetime.date(2016, 1, 21)

In [104]:
date2- timediff

datetime.datetime(2016, 1, 19, 13, 6)

In [51]:
date4 = datetime.datetime( 2016, 1, 20)

In [52]:
date4 + timediff

datetime.datetime(2016, 1, 21, 0, 24)

In [53]:
timediff.days

1

In [41]:
timediff.seconds

1445

### In class Practice:

1. Find the number of days between 2016-12-20 and 2018-12-20.

2. Find the number of seconds between 2016-12-20 13:45:00 and 2016-12-25 12:10:00.

In [54]:
(datetime.date(2018,12,20)-datetime.date(2016,12,20)).days

730

In [55]:
tmdf = datetime.datetime(2016,12,25, 12, 10) - datetime.datetime(2016,12,20, 13,45)
tmdf.days*24*3600 + tmdf.seconds

426300

In [56]:
tmdf

datetime.timedelta(days=4, seconds=80700)

# Basic Data Structure

### List, Tuple, Set

#### List

In [105]:
list1 = ['1', 1, 'b',datetime.date(2016,12,20)]

In [106]:
type(list1)

list

In [109]:
list1[-1]

datetime.date(2016, 12, 20)

In [110]:
list1[0:-1]

['1', 1, 'b']

In [111]:
list1[0:3:2]

['1', 'b']

In [112]:
list1

['1', 1, 'b', datetime.date(2016, 12, 20)]

In [113]:
list1.append( 123 )

In [114]:
list1

['1', 1, 'b', datetime.date(2016, 12, 20), 123]

In [115]:
list1.extend( [2,'2'] )

In [116]:
list1

['1', 1, 'b', datetime.date(2016, 12, 20), 123, 2, '2']

In [117]:
list1.insert( 1, '2' )

In [66]:
list1

['1', '2', 1, 'b', datetime.date(2016, 12, 20), 123, 2, '2']

In [118]:
list1.remove( '1' )

In [68]:
list1

['2', 1, 'b', datetime.date(2016, 12, 20), 123, 2, '2']

In [119]:
list1.remove( '2' )

In [120]:
list1

[1, 'b', datetime.date(2016, 12, 20), 123, 2, '2']

In [121]:
list1.remove( 1 )

In [123]:
list1

['b', datetime.date(2016, 12, 20), 123, 2, '2']

In [124]:
list1.pop( 1 )

datetime.date(2016, 12, 20)

In [125]:
list1

['b', 123, 2, '2']

In [75]:
list1[0:-1]

['b', 123, 2]

In [76]:
list1[0:4:3]

['b', '2']

In [77]:
len(list1)

4

In [128]:
range(10)

range(0, 10)

In [129]:
list(  range(0,10) )

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [130]:
list(  range(2, 10) )

[2, 3, 4, 5, 6, 7, 8, 9]

In [131]:
list( range(2,11, 4) )

[2, 6, 10]

### In Class Practice

Create an String object "fintech is fintech is". 

1. Use split function to find the first word of this string.

In [81]:
strtest = "fintech is fintech is"
strtest.split( " " )[0]

'fintech'

In [148]:
'f i f i'.split( " " )

['f', 'i', 'f', 'i']

In [82]:
"fintech is fintech is".split( " " )[0]

'fintech'

In [138]:
strtest.split( ' ' )

['fintech', 'is', 'fintech', 'is']

In [139]:
testlist =strtest.split( " " )
testlist[1]= 'a'

In [140]:
testlist

['fintech', 'a', 'fintech', 'is']

#### tuple

In [1]:
tuple1 = (1,3, 'b')

In [84]:
tuple1

(1, 3, 'b')

In [85]:
tuple2 = 1,3, 'b'

In [86]:
tuple1 == tuple2

True

In [2]:
tuple1[0]=2

TypeError: 'tuple' object does not support item assignment

#### set

In [3]:
a = set( [1,2,3,4] )

In [4]:
b = set( (3,4,5,6) )

In [6]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [7]:
a.intersection(b)

{3, 4}

In [8]:
#a-b
a.difference(b)

{1, 2}

In [93]:
#(a-b)union(b-a)
a.symmetric_difference(b)

{1, 2, 5, 6}

In [155]:
list(set( [1,2,3,3,4] ))

[1, 2, 3, 4]

### In Class Practice

Create an String object "fintech is fintech is". 

1. Use split function to find the first word of this string.

2. Convert the list from problem 1 into tuple and show the results.

3. Convert the list from problem 1 into set and show the results.

4. Convert the set from problem 3 into list and make it into a string with "," as delimiter.

In [157]:
strtest = "fintech is fintech is"
listA = strtest.split( " " )
fisrtword = listA[0]

In [158]:
fisrtword

'fintech'

In [159]:
tuple(listA)

('fintech', 'is', 'fintech', 'is')

In [160]:
set(listA)

{'fintech', 'is'}

In [161]:
list( set(listA) )[0]+','+list( set(listA) )[1]

'fintech,is'

In [163]:
','.join( set(listA) )

'fintech,is'

In [70]:
list( set(listA) )[0]

'is'

In [71]:
list( set(listA) )[1]

'fintech'

In [72]:
'is'+','+'fintech'

'is,fintech'

In [164]:
strtest = "fintech is fintech is"
listA = strtest.split( " " )
setA = set( listA )
listB = list( setA )
','.join(listB)

'fintech,is'

In [161]:
listA

['fintech', 'is', 'fintech', 'is']

In [162]:
listB

['is', 'fintech']

### In Class Practice

Use numpy randint to draw 100 random integers from 10 to 20, remove all duplicates from  the list.

In [9]:
import numpy as np
np.random.randint( 10, 21, 100 )

array([13, 10, 17, 18, 17, 15, 18, 16, 15, 14, 16, 15, 10, 15, 10, 10, 17,
       13, 10, 12, 20, 18, 15, 13, 10, 10, 10, 16, 15, 10, 12, 18, 10, 18,
       20, 16, 14, 20, 17, 14, 18, 12, 15, 18, 12, 12, 14, 12, 13, 13, 12,
       18, 14, 13, 15, 11, 15, 12, 17, 14, 14, 18, 10, 11, 15, 12, 13, 17,
       15, 19, 14, 16, 11, 14, 16, 15, 10, 16, 15, 12, 18, 15, 15, 11, 18,
       10, 14, 15, 11, 18, 14, 15, 12, 18, 11, 17, 14, 16, 18, 20])

In [10]:
import numpy as np

In [11]:

list(set(np.random.randint( 10, 21, 100 )))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### Dictionary

In [12]:
info = { 
    "Name" : "Luzhoulaojiao",
    "ID"   : "000568",
    "PE"   : 60,
    "Recent Price": [290.50, 298.10, 313.99, 292.40]
}

In [13]:
info

{'Name': 'Luzhoulaojiao',
 'ID': '000568',
 'PE': 60,
 'Recent Price': [290.5, 298.1, 313.99, 292.4]}

In [16]:
info[ 'Name' ]

'Luzhoulaojiao'

In [17]:
info.keys()

dict_keys(['Name', 'ID', 'PE', 'Recent Price'])

In [18]:
info.values()

dict_values(['Luzhoulaojiao', '000568', 60, [290.5, 298.1, 313.99, 292.4]])

In [19]:
info.items()

dict_items([('Name', 'Luzhoulaojiao'), ('ID', '000568'), ('PE', 60), ('Recent Price', [290.5, 298.1, 313.99, 292.4])])

In [20]:
info['IDs']

KeyError: 'IDs'

In [21]:
"Name" in info

True

In [22]:
"ABD" in info

False

# For Loops

In [23]:
tester = [1,2,3,4,5,6]
for i in tester:
    print(i)

1
2
3
4
5
6

In [109]:
tester = (1,2,3,4,5,6)
for i in tester:
    print(i)

1
2
3
4
5
6

In [110]:
tester = set([1,2,3,4,5,6])
for i in tester:
    print(i)

1
2
3
4
5
6

### Summation

In [25]:
tester = [1,2,3,4,5,6]
result = 0
for i in tester:
    result = result + i
print(result)

21

### Average

In [26]:
tester = [1,2,3,4,5,6]
result = 0
for i in tester:
    result = result + i
print(result/len(tester))

3.5

### Factorial

In [11]:
tester = [1,2,3,4,5,6]
result = 1
for i in tester:
    result = result * i
print(result)

720

In [12]:
input_000568 = [279.18, 279.00, 279.06, 287.79, 290.50, 298.10, 313.99, 292.40]
input_000858 = [304.12, 308.75, 313.60, 319.76, 320.00, 329.50, 342.65, 333.50]

### Calculate Return

### absolute return

In [13]:
range( 1, len( input_000568 ) )

range(1, 8)

In [14]:
list(range(1, 8))

[1, 2, 3, 4, 5, 6, 7]

In [15]:
result = []
for i in range( 1, len( input_000568 ) ):
    result.append( input_000568[i] - input_000568[i-1] )
result

[-0.18000000000000682,
 0.060000000000002274,
 8.730000000000018,
 2.7099999999999795,
 7.600000000000023,
 15.889999999999986,
 -21.590000000000032]

### relative return

In [117]:
result = []
for i in range( 1, len( input_000568 ) ):
    result.append( input_000568[i] / input_000568[i-1] - 1 )
result

[-0.0006447453255964408,
 0.00021505376344088667,
 0.031283594925822555,
 0.009416588484658872,
 0.02616179001721175,
 0.05330426031533042,
 -0.06876015159718474]

### relative return in percentage

In [17]:
result = []
for i in range( 1, len( input_000568 ) ):
    result.append( "{:.2f}%".format(100* (input_000568[i] / input_000568[i-1] - 1)) )
result

['-0.06%', '0.02%', '3.13%', '0.94%', '2.62%', '5.33%', '-6.88%']

### In Class Practice


Use numpy log to calculate log return of the two stocks

In [23]:
import numpy as np

result = []
for i in range( 1, len( input_000568 ) ):
    result.append( np.log(input_000568[i] / input_000568[i-1]) )
result

[-0.0006449532632465692,
 0.0002150306426950445,
 0.030804235033905406,
 0.009372528793999935,
 0.025825424392059888,
 0.05193213758333891,
 -0.07123841039174136]

# IF Clause

In [32]:
for i in range(5):
    if i == 1:
        print(i)

1

In [34]:
for i in range(5):
    if i > 1:
        print(True)

True
True
True

### In class practice

Consider a tuple T=( 34, 53, 67, 86, 42, 28, 75, 49, 23, 65). Write a Python program to count the number of even and odd numbers in the tuple.

### In class practice

Write a python program to print numbers from 1 to 10 except 4 and 7.

In [35]:
T=( 34, 53, 67, 86, 42, 28, 75, 49, 23, 65)
#odd = 0
even = 0
for i in T:
    if i%2==0:
        even += 1
odd = len(T) - even
print( odd, even )

6 4

In [37]:
for i in range( 1, 11 ):
    if (i!=4) and (i!=7):
        print( i )

1
2
3
5
6
8
9
10

In [38]:
for i in range( 1, 11 ):
    if not ((i==4) or (i==7)):
        print( i )

1
2
3
5
6
8
9
10

# In class practice
Write a python program to print all the less-than-100 multipliers of 4 or 7.

In [39]:
res = []
for i in range( 1, 100 ):
    if i%4==0 or i%7==0:
        res.append( i )
print(res)

[4, 7, 8, 12, 14, 16, 20, 21, 24, 28, 32, 35, 36, 40, 42, 44, 48, 49, 52, 56, 60, 63, 64, 68, 70, 72, 76, 77, 80, 84, 88, 91, 92, 96, 98]

### In class practice

In [19]:
for i in range ( 1, 10 ):
    cur = ""
    for j in range( 1, i+1 ):
        cur += "{}x{}={:2d}  ".format( i, j, i*j )
    print( cur )

1x1= 1
2x1= 2  2x2= 4
3x1= 3  3x2= 6  3x3= 9
4x1= 4  4x2= 8  4x3=12  4x4=16
5x1= 5  5x2=10  5x3=15  5x4=20  5x5=25
6x1= 6  6x2=12  6x3=18  6x4=24  6x5=30  6x6=36
7x1= 7  7x2=14  7x3=21  7x4=28  7x5=35  7x6=42  7x7=49
8x1= 8  8x2=16  8x3=24  8x4=32  8x5=40  8x6=48  8x7=56  8x8=64
9x1= 9  9x2=18  9x3=27  9x4=36  9x5=45  9x6=54  9x7=63  9x8=72  9x9=81

### In class practice

input_000568 = [279.18, 279.00, 279.06, 287.79, 290.50, 298.10, 313.99, 292.40]

input_000858 = [304.12, 308.75, 313.60, 319.76, 320.00, 329.50, 342.65, 333.50]

calculate return of the two stocks, then calculate the standard deviation, sample variance of the two stocks respectively. Then calculate their covariance.

In [26]:
input_000568 = [279.18, 279.00, 279.06, 287.79, 290.50, 298.10, 313.99, 292.40]
input_000858 = [304.12, 308.75, 313.60, 319.76, 320.00, 329.50, 342.65, 333.50]

ret_000568 = [
    input_000568[i]/input_000568[i-1]
    for i in range(1, len(input_000568))
]

ret_000858 = [
    input_000858[i]/input_000858[i-1] 
    for i in range(1, len(input_000858))
]

mean_000568 = sum(ret_000568)/len(ret_000568)
mean_000858 = sum(ret_000858)/len(ret_000858)

std_000568 = (
    sum(
        [(ret_000568[i]-mean_000568)**2 for i in range(len(ret_000568))]
    )/(len(ret_000568)-1)
)**0.5

std_000858 = (
    sum(
        [(ret_000858[i]-mean_000858)**2 for i in range(len(ret_000858))]
    )/(len(ret_000858)-1)
)**0.5

var_000568 = std_000568**2
var_000858 = std_000858**2

corr_ = (
    sum(
        [(ret_000568[i]-mean_000568)*(ret_000858[i]-mean_000858) 
         for i in range(len(ret_000568))]
    )/(len(ret_000568) - 1)
)/std_000568/std_000858

print(std_000568, std_000858)
print(var_000568, var_000858)
print(corr_)

0.03862277346740791 0.0215403581895382
0.0014917186303147084 0.0004639870309336054
0.9353816932639398

In [42]:
# return
ret_000568 = []
ret_000858 = []

for i in range( 1, len( input_000568 ) ):
    ret_000568.append(  input_000568[i]/input_000568[i-1]-1 )
    ret_000858.append(  input_000858[i]/input_000858[i-1]-1 )

#mean of return
mean_000568 = sum( ret_000568 )/len( ret_000568 )
mean_000858 = sum( ret_000858 )/len( ret_000858 )


#exret_000568 = [ i - mean_000568 for i in ret_000568 ]
#exret_000858 = [ i - mean_000858 for i in ret_000858 ]

# demeaned return
exret_000568 = []
exret_000858 = []

for i in range( len(ret_000568) ):
    exret_000568.append( ret_000568[i] - mean_000568 )
    exret_000858.append( ret_000858[i] - mean_000858 )

In [43]:
print(exret_000568)
print(exret_000858)

[-0.007927086837551198, -0.007067287748513872, 0.024001253413867798, 0.0021342469727041137, 0.018879448505256993, 0.04602191880337566, -0.07604249310913949]
[0.0017643971287866853, 0.0022486455689665983, 0.006183000687532145, -0.01270929353313315, 0.01622764354467516, 0.026449096503703924, -0.04016348990053136]

In [44]:
var_000568 = 0
var_000858 = 0
cov = 0
for i in range( len( exret_000568 ) ):
    var_000568 += exret_000568[i]**2
    var_000858 += exret_000858[i]**2
    cov += exret_000568[i]*exret_000858[i]

    
var_000568 = var_000568/(len( exret_000568 )-1)
var_000858 = var_000858/(len( exret_000858 )-1)
cov = cov/(len( exret_000858 )-1)

print( var_000568, var_000858, cov )

0.0014917186303147081 0.00046398703093360536 0.0007781892794924625